.gigpress {
	background-image: url(images/gigpress_bg.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.gigpress table.widefat {
	margin-bottom: 30px;
}

p.gigpress-footer {
	text-align: center;
	margin: 240px 0px 20px;
}

p.gigpress-footer a {
	color: #FFF;
	border-bottom: none;
}

p.gigpress-footer a:hover {
	color: #000;
}

.gp-table th {
	vertical-align: top;
}

.gp-table td .submit {
	text-align: left;
}

.gp-table p {
	margin-top: 0;
}

span.gigpress-date {
	font-weight: bold;
}

span.gigpress-time {
	font-size: 90%;
	color: #666;
}

th.gp-thead {
	background-color: #e5f3ff;
}

th.gp-thead h3 {
	margin: .2em 0;
	font-size: 110%;
}

small.gp-instructions, p.gp-instructions {
	margin: 0;
	color: #666;
	font-size: 100%;
}

td.notes {
	font-size: 90%;
	color: #333;
	background-color: #fafafa;
}

.gp-centre, th.gp-centre {
	text-align: center;
}